<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome!</title>
    <style>
            *{
                font-family: sans-serif;
            }
            h1{
                color: cornflowerblue
            }
            a{
                text-decoration-color: cornflowerblue ;
            }
        </style>
</head>
<body>
    <h1>Hola!</h1>
    <h3>Para hacer el formulario pulsa en el siguiente enlace:</h3>
    <h3><a href="{% url 'hacerFormulario' %}">👉HACER FORMULARIO👈</a></h3>
</body>
</html>